

<form [formGroup]="form">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">

          <ng-container *ngFor="let field of defaultFormFields | orderBy: 'order'; let i=index; let odd=odd; let even=even;">
            <div class="col-md-6" *ngIf="even">

              <dynamic-field [sourceTranslationKey]="i18n.userFactors" [field]="field" [key]='field.displayName' [form]="form"></dynamic-field>

            </div>

            <div class="col-md-6" *ngIf="odd">

              <dynamic-field [sourceTranslationKey]="i18n.userFactors" [field]="field" [form]="form" [key]='field.displayName'></dynamic-field>

            </div>

          </ng-container>

        </div>

      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn btn-default" (click)="cancel()">{{i18n.common + 'Cancel' | dynamicTranslate}}</button>
    <button *ngIf="formAction === 0" type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="save()">{{i18n.common + 'Save' | dynamicTranslate}}</button>
    <button *ngIf="formAction === 1" type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="save()">{{i18n.common + 'Edit' | dynamicTranslate}}</button>
  </div>
</form>