<div class="form-group row">
        <div class="col-md-12 py-2 processing-summary">
                <div class="success pull-left">
                        {{i18n.common + 'Assets' | dynamicTranslate }} {{i18n.common + processingSummary.processingVerb | dynamicTranslate}}: {{processingSummary.successCount}}
                </div>
                <div class="mx-2 error pull-left">{{i18n.common + 'Errors' | dynamicTranslate }}: {{processingSummary.errorCount}}
                </div>
        </div>
</div>

