<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DebuggerAddress" value="127.0.0.1:9222" />
    <add key="NewTranslationsFile" value="c:\temp\newTranslations.json" />
    <add key="StopUrlString" value="StopTest" />
    <add key="TimeBetweenReads" value="0.00:00:05" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>