/* DP Brand Colors */
$brand-primary: #ee3124; /* Red */
$brand-secondary-cyan: #13b5ea;
$brand-secondary-gray: #465661;
$brand-secondary-gray-light: #E6eaed;
$brand-tertiary-violet: #7a2379;
$brand-tertiary-orange: #f47621;
$brand-tertiary-lime: #c5d92c;

/* Grays */
$gray-text-medium: #777;
$gray-text-light: rgb(7, 6, 6);
$gray-text-extra-light: #dedede;
$gray-sidebar: #d0d8dc;

/* Utility Colors */
$error: #d9534f;
$success: #5cb85c;

/* Fonts */
$font-size-base: 0.9rem;