<ol class="breadcrumb">
  <li *ngFor="let breadCrumb of breadCrumbs" class="breadcrumb-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}">
    <a [class.disabled]="!!breadCrumb.isDisabled && breadCrumb.isDisabled" [routerLink]="breadCrumb.routerLink">{{i18n.qualityControl + breadCrumb.name | dynamicTranslate}}</a>
  </li>
</ol>

<asset-form *ngIf="assetDto && fields.length > 0" [isReadOnly]="true" [imageEntityType]="imageEntityType" [savingForm]="savingForm" [fieldMetaData]="fields" [assetDto]="assetDto" (formActionEvent)="onFormActionEvent($event)"></asset-form>


